<div class="container text wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s">
  <div class="row" style="color:black;">
    
    <div class="col-md-4">
      <div class="row service-header">
        <div class="col-md-6">
          <img class="service-item" src="../../assets/images/services/avaliation.svg" style="width: 80px;" alt="">
        </div>
        <div class="col-md-6">
          <br/>
            <span><h2>Avaliação</h2></span> 
        </div>
      </div>
      <div class="service-content">
          Antes de iniciar qualquer serviço fazemos uma avaliação do seu animal de companhia. Nesta sessão procuramos perceber quais são as suas preocupações e objectivos para traçarmos um plano de acção adaptado ao animal.
      </div>
      <div class="service-footer">
          <h4>Gratuito</h4>
      </div>
      <hr class="line"/>
    </div>

    <div class="col-md-4">
        <div class="row service-header">
            <div class="col-md-6">
              <img class="service-item" src="../../assets/images/services/dog-training.png" alt="">
            </div>
            <div class="col-md-6 ">
                <h2>Treino Canino</h2>
            </div>
        </div>
        <div class="service-content">
            Fazemos treino amável com métodos positivos e à medida de cada animal. 
As sessões acontecem uma ou duas vezes por semana durante uma hora. Deixamos trabalhos de casa aos humanos para a sessão seguinte. 
        </div>
        <div class="service-footer">
            <h4>Preço base: 10€/h</h4>
        </div>
        <hr class="line"/>
    </div>

    <div class="col-md-4">
          <div class="row service-header">
              <div class="col-md-6">
                <img class="service-item" src="../../assets/images/services/pet-sitting.svg" style="width:80px;" alt="">
              </div>
              <div class="col-md-6 ">
                <br /> 
                  <span><h2>Pet Sitting</h2></span> 
              </div>
          </div>
          <div class="service-content">
              Salientamos que este serviço se aplica a todas as espécies de animais de companhia. 
              <ul>
                <li>Em sua casa, o qual inclui, duas visitas diárias para alimentação, limpeza, passeios e carinho. </li>
                <li>O animal fica 24h acompanhado. Poderão visitar o espaço previamente. </li>
              </ul>
          </div>
          <div class="service-footer">
              
              <h4>Preço base: 10€ ou 15€ /dia</h4>
          </div>
          <hr class="line"/>
    </div>

  </div>

  <br />

  <div class="row" style="color:black;">

    <div class="col-md-4">
        <div class="row service-header">
            <div class="col-md-6">
              <img class="service-item" src="../../assets/images/services/dog-walking.svg" alt="">
            </div>
            <div class="col-md-6 ">
                <span><h2>Dog Walking</h2></span> 
            </div>
        </div>
        <div class="service-content">
            <br />
            Passeamos o seu cão e aproveitamos para o ensinar a andar à trela.
        </div>
        <div class="service-footer">
            <h4>Preço base: 5€/h</h4>
        </div>
        <hr class="line"/>
    </div>

    <div class="col-md-4">
        <div class="row service-header">
            <div class="col-md-6">
              <img class="service-item" src="../../assets/images/services/socializacao.svg" alt="">
            </div>
            <div class="col-md-6 ">
              <br /> 
                <span><h2>Socialização</h2></span> 
            </div>
        </div>
        <div class="service-content">
          <br />
            Acreditamos que é essencial que o seu cão tenha amigos caninos. Os cães que socializam mais tendem a ser mais calmos perto de outros animais. 
A Rakija ajuda nas primeiras sessões até o animal estar pronto para aumentar a sua rede de contactos caninos. 
        </div>
        <div class="service-footer">
            <h4>Preço base: 5€/h</h4>
        </div>
        <hr class="line"/>
    </div>
  
    <div class="col-md-4">
      <div class="row service-header">
          <div class="col-md-4">
            <img class="service-item" src="../../assets/images/services/advice.svg" alt="">
          </div>
          <div class="col-md-8 ">
            <br />
              <span><h2>Aconselhamento</h2></span> 
          </div>
      </div>
      <div class="service-content">
          <br />
          Por telefone, mail ou presencialmente vamos ajudá-lo a esclarecer as suas dúvidas e a melhorar a relação com o seu animal de companhia.
      </div>
      <div class="service-footer">
          <h4>Gratuito</h4>
      </div>
      <hr class="line"/>
    </div>

  </div>
</div>