<div class="features">
  <div class="container">
    <div class="text-center">
      <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s">
        <h2 class="text-head">Origem</h2>
      </div>
      <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s">
        <p class="text-no-justify no-margin-bottom" style="font-size: 19px;">
            O Senta & Fica nasceu do meu amor pelo Argus.<br />
            O Argus foi adotado de um canil com 6 meses. Ele era reativo a outros cães e puxava muito a trela. Decidi pedir ajuda e iniciamos os treinos. 
            Depois de algum trabalho, o Argus tornou-se num cão exemplar: andava muito bem à trela, era cada vez mais social e a sua confiança foi aumentando. Ao ver a transformação deste cão com um passado tão triste para um animal feliz e equilibrado apaixonei-me pelo poder do treino.
        </p>
      </div>

    </div>
  </div>
</div>

<div class="main-feature no-top-padding">

    <div class="text-center no-padding-bottom no-bg">

      <div class="container">
        <div class="col-md-6 col-lg-6">

          <img class="img-team wow fadeInUp img-size" src="assets/images/team/Rita.jpg" alt="" data-wow-offset="0" data-wow-delay="0.2s" >
          
          <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s">
            <h2 class="text-head">Rita Vale</h2>
          </div>

          <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s">
            <p class="text">Desde pequena que nutre um grande carinho pelos animais. 
              A ligação que sempre teve com os seus animais de companhia, que para ela são família despertou a sua curiosidade pelo comportamento animal. 
                Veio para Aveiro estudar Biologia em 2011 tendo terminado o mestrado em Ecologia Aplicada em 2017.
                <br />
                Em 2016 iniciou o seu percurso como educadora canina com o CAP 1 e 2.
            </p>
          </div>
        </div>
        
        <div class="col-md-6 col-lg-6">

            <img class="img-team wow fadeInUp img-size" src="assets/images/team/Rakija.jpg" alt="" data-wow-offset="0" data-wow-delay="0.2s" >
            
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s">
              <h2 class="text-head">Rakija</h2>
            </div>
  
            <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.2s">
              <p class="text">A Rakija é uma cadela sem raça definida de 15kg. 
                É responsável pela socialização de outros cães. 
                Desde pequena que pratica fazer amigos de todas as espécies. 
                É uma cadela que adora partilhar a sua alegria e amor em forma de lambidelas e corridas. </p>
            </div>
          </div>
      </div>
    
 <!--    <button type="button" class="btn btn-default">Serviços</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-default">Contactos</button> -->
  </div>	
  
</div>